
.home-page {
text-decoration: none;
color: white; /* Link color */
margin-left: 20px; /* Adjust the spacing between the "home-page" and other links */
margin-right: 20px;
}

.nav-list {
list-style: none;
display: flex;
margin: 0;
padding: 0;
}

.nav-list li {
margin-left: 20px; /* Adjust the spacing between links */
margin-right: 20px;
}

.nav-list li:first-child {
margin-left: 0; /* Remove margin for the first link */
}

.nav-list a {
text-decoration: none;
color: white; /* Link color */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
.navbar {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Align items to the left */
    height: auto; /* Auto height to fit content */
    padding: 20px; /* Adjust the padding for spacing */
}

.nav-list {
    margin-top: 20px; /* Add spacing between links */
    flex-direction: column; /* Stack items vertically */
    align-items: center;
}

.nav-list li {
    margin-left: 0; /* Remove left margin for links */
    margin-right: 0;
}
}
