/* Index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100vh;
  --dark-blue: rgb(12, 30, 78);
  --pale-blue: rgb(200, 229, 247);
  --aliceblue: rgb(240, 248, 255);
  --blue-grey: rgb(40, 60, 80);
}

.App {
  color: black;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  min-width: 100vh;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333; /* Change the background color as needed */
  padding: 10px 0; /* Adjust the padding as needed */
  z-index: 100; /* Ensure it appears above other elements */
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column; /* Ensure children stack vertically */
  align-items: start; /* Center-align content horizontally */
  max-width: 100vh;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.text-container {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #fff; /* Add a background color to separate from navbar */
  margin-top: 5%; /* Add margin to push it below the navbar */
  display: flex;
  flex-direction: column; /* Stack children in a column */
  flex-grow: 1; /* Allow the text-container to expand to fill available space */
  justify-content: center;
  max-width: 100vh;
  margin-left: 10%;
}


/* PortfolioPage.css */
.portfolio-page {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #fff; /* Add a background color to separate from navbar */
  margin-top: 2%; /* Add margin to push it below the navbar */
  display: flex;
  flex-direction: column; /* Stack children in a column */
  flex-grow: 1; /* Allow the text-container to expand to fill available space */
  max-width: 100vh;
  align-items: center;
} 


.card {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  width: calc(70% - 20px); /* Adjust the width as needed for the 2-column layout */ 
}

.card-title {
  position: absolute;
  top: 10px;
  left: 0px;
  white-space: nowrap;
  background-color: var(--pale-blue);
  color: var(--dark-blue);
  max-width: 70%;
  max-height: 50%;
  padding: 5px;
  border-style: solid;
  border-color: var(--dark-blue);
  border-width: 1px;
  font-size: larger;
}

.card-image {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  background-size: cover; /* Ensure the background image covers the entire div */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  background-position: center; /* Center the background image */
  border-style: solid;
  opacity: 0.4;
  transition: 0.5s ease;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.card-image:hover {
    opacity: 1.0;
}

.github-link {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
}

.github-link img {
  width: 30px;
  height: 30px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* Update your media query to apply the new class to text-container */
@media screen and (max-width: 768px) {
  .text-container{
    margin-top: 25%; /* Remove margin at the top */
    padding-top: 0; /* Add padding to separate from navbar */
    padding-bottom: 20px; /* Add padding at the bottom */
    font-size: smaller;
  }

  .portfolio-page {
    margin-top: 30%;
  }

  .card {
    width: calc(50% - 20px); /* Adjust the width as needed for the 2-column layout */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


